/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css?family=Poppins|Georgia|Source+Sans+Pro|Merriweather");

// Colors ---------------------------------------------------------------
$gray-400: #ced4da;
$gray-700: #495057;

$primary: #005030;
$secondary: #f47321;
$bright: #f1f1f1;
$footer: #63707b;

$bg-dark-shadow: 1px 1px 1px gray;
$bg-light-shadow: 1px 1px 1px #c0c0c0;

@mixin border-styles {
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 1px #9e9e9e;
}

@mixin button-border-styles {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 1px #9e9e9e;
}

// Quarto defaults -------------------------------------------------------
$navbar-bg: $primary;     // navbar background
$navbar-fg: $bright;      // navbar text
$content-padding-top: 0;  // remove padding between navbar and hero panel
$body-bg: #e7e7e7;
$body-color: $gray-700;   // page text color
$btn-color: $bright;      // button text color
$footer-bg: $footer;
$footer-fg: white;

// Main font font family
$font-family-sans-serif: "Open Sans", "Poppins", "Cambria", "Georgia", "serif";
// Monospace font family
$font-family-monospace: "Noto Sans Mono", "Source Code Pro", "Courrier New", "mono-space";
// Base font size for the page
$font-size-base: 1.1rem; // increasing default by 10%; 1rem = default value



/*-- scss:rules --*/


.navbar {
  border-bottom: 1px solid $gray-700;
  
  .navbar-title {
    font-size: 1.1em;
  }
}


// Set up the hero panel
.hero-panel {
  position: relative;
  margin: -20px 0px 20px;    // move the panel up to remove whitespace
  background-color: $gray-700;
  
  img.banner {
    left: 0;
    width: 100%;
    height: 70vh;
    display: block;
    object-fit: cover;
    object-position: 50% 90%; // moves the focus up 10% from the bottom
    filter: brightness(50%) blur(3px);
  }
  
  .banner-txt {
    position: absolute;
    left: 5%;
    bottom: 40%;
    color: white;
    font-weight: bold;
    
    h1 {
      color: $bright;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0;
      text-shadow: $bg-dark-shadow;
    }
    
    h3 {
      color: #d8d8d8;
      font-size: 2rem;
      font-weight: 200;
      margin-top: 1rem;
    }
  }
}


// Button group on index.qmd
div.btn-grp {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;
  align-items: stretch; // all tiles will have the same height
  margin-top: -20px;
  padding: 10px 0;
  border-bottom: 1px solid gray;
  
  .home-tile {
    background-color: $primary;
    @include button-border-styles;
    margin: 20px auto;
    text-align: center;
    color: $bright;
    text-shadow: 0px 0px 0px black;
    max-width: 300px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 1px 1px 8px 6px #9e9e9e;

      h5 {
        text-decoration: none;
      }
    }

    @media screen and (max-width: 870px) {
      height: 145px;
    }

    @media screen and (max-width: 520px) {
      height: 168px;
    }

    .home-tile-icon {
      font-size: 3rem;
      margin: 1rem 0;
      padding-top: 3px;
      color: $bright;
    }

    h5 {
      padding-bottom: 6px;
      text-decoration: none;

      @media screen and (max-width: 665px) {
        font-size: 1.1rem;
      }
    }
  }
}



.home-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 30px;
  margin: 30px auto 0px;
  max-width: 1550px;
  border-bottom: 1px solid gray;
  
  @media screen and (max-width: 700px) {
    flex-direction: column; // stack vertically on small screens
  }

  @media screen and (max-width: 600px) {
    a, p {
      font-size: 16px;
    }
  }
  
  .image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    @include button-border-styles;
    padding-bottom: 33%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.6s;
      filter: brightness(60%) blur(2px);
    }
  }

  &:hover {
    .image-wrapper {
      img {
        transform: scale(1.1);
        filter: brightness(90%) blur(0px);
      }
    }
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 40px;
    width: 100%;
  
    a {
      color: $primary;
      text-decoration: none;
      font-size: 1.5vw;
      display: inline-block;
      transition: 0.15s;
      text-shadow: $bg-light-shadow;
      
      &:hover {
        color: $secondary;
      }
  
      @media screen and (max-width: 1080px) {
        font-size: 17px;
      }
    }
  
    h2 {
      font-weight: 600;
      font-size: 3vw;
      color: #333333;
      text-shadow: $bg-light-shadow;
      border-bottom: none; // Quarto puts border bottom by default
    }
  
    p {
      font-size: 1.35vw;
      color: #5f5f5f;
  
      @media screen and (max-width: 1180px) {
        font-size: 17px;
      }
    }
  } // .card-info
} 
.special-card {
  border-bottom: none;
} // .home-wrapper





// Home page footer
.um-footer {
  display: grid;
  grid-template-rows: auto auto;
  padding: 10px;
  background-color: $footer;
  color: #ffffff;
  font-size: 14px;
  
  .footer-top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "logo col1 col2 col3 col4";
    grid-gap: 10px;
    width: 100%;
    
    // make the columns responsive
    .footer-column {
      padding: 10px;
      text-align: center;
      
      // make the column headers bold
      h5 {
        font-weight: 700;
      }
      
      a {
        text-decoration: none;
        color:#ffffff;
        
        &:hover {
          text-decoration: underline;
        }
      }
    } // .footer-column
    
    // center the logo vertically
    .footer-column-logo {
      grid-area: logo;
      margin: auto 0px;
      text-align: center; // Center the logo
    }
    
    // left align the text in the other columns
    .footer-column-1 {
      grid-area: col1;
      text-align: left;
    }
    
    .footer-column-2 {
      grid-area: col2;
      text-align: left;
    }
    
    .footer-column-3 {
      grid-area: col3;
      text-align: left;
    }
    
    .footer-column-4 {
      grid-area: col4;
      text-align: left;
      
      .social-media {
        a {
          font-size: 1.75em;
          
          &:hover {
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }
    
    @media screen and (max-width: 1060px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
        "logo col1 col1"
        "col2 col3 col4";
    }
  } // .footer-top
  
  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
    width: 100%;
    text-align: center;
    font-size: 11px;
    
    span,
    a {
      padding-left: 16px;
      margin-right: 16px;
      white-space: nowrap;
    }
    
    a {
      text-decoration: none;
      color:#ffffff;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
} // .footer